[Desktop Entry]
Name=Link to isbn-barcode-stickers
Type=Link
URL=file:///home/nathaniel/archive/2018/personal/projects/library-organizing/isbn-barcode-stickers/
Icon=folder

