[Desktop Entry]
Name=Link to 2018-07-26
Type=Link
URL=file:///home/nathaniel/archive/2018/personal/software/bugs/texlive-latex-extra/textmerg/2018-07-26/
Icon=folder
