[Desktop Entry]
Name=Link to github.com/nbeaver/textmerg-labels-example
Type=Link
URL=https://github.com/nbeaver/textmerg-labels-example
Icon=text-html
