[Desktop Entry]
Name=Link to Preserve label spacing dimensions when using mailmerge - TeX - LaTeX Stack Exchange
Type=Link
URL=https://tex.stackexchange.com/questions/443059/preserve-label-spacing-dimensions-when-using-mailmerge
Icon=text-html
